<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./dist/fullpage.min.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <script src="https://kit.fontawesome.com/46a049b09d.js" crossorigin="anonymous"></script>

    <meta name="keywords" content="yoshi,van,belkom,yoshivanbelkom,gameplay,programmer,tech,lead,nhtv,buas,toadmaninteractive,toadman,portfolio,game">
    <meta name="google-site-verification" content="acC7bXQ8ushS-xkoF3W9cp4hEddB_ZzwXonAUEuUh60" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{Title}}">
    <meta name="twitter:description" content="{{Description}}">
    <meta name="twitter:image" content="./public/portrait_drawing.png">
    
    <link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">

    <!--Mobile phone theme color-->
    <meta name="msapplication-TileColor" content="#1a1a1a">
    <meta name="msapplication-TileImage" content="resources/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#1a1a1a">
    <meta name="msapplication-navbutton-color" content="#1a1a1a">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1a1a1a">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{Title}}</title>
  </head>
  <body>
    <svg height="50%" width="70%" preserveAspectRatio="xMaxYMax meet" viewBox="0 0 1440 480" style="position: absolute; right: 0; bottom: 0; opacity: 0.7;">
        <g mask="url(&quot;#SvgjsMask1590&quot;)" fill="none">
            <g mask="url(&quot;#SvgjsMask1591&quot;)">
                <path d="M1391 273L1365 299L1339 299L1313 299L1287 299M1235 247L1209 221L1183 221L1157 195M1131 221L1105 195L1079 195M1183 247L1157 247L1131 273L1105 273L1079 273L1053 247L1027 247M1287 247L1261 273L1235 273L1209 299L1183 299M1469 273L1443 273L1417 273L1391 273L1365 273L1339 247L1313 247L1287 247L1261 247L1235 247L1209 247L1183 247L1157 221L1131 221L1105 221L1079 221L1053 221L1027 221L1001 221L975 221" stroke="rgba(255, 255, 255, 1)" stroke-width="4.33"></path>
                <path d="M968.5 221 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1280.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1150.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1072.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1020.5 247 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1176.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(255, 255, 255, 1)"></path>
                <path d="M1131 325L1105 299L1079 299L1053 299L1027 299M1235 325L1209 351M845 325L819 351M1157 325L1131 299M975 325L949 299L923 299L897 299L871 299L845 299M1261 325L1235 299M1469 299L1443 325L1417 325L1391 325L1365 325L1339 325L1313 325L1287 325L1261 325L1235 325L1209 325L1183 325L1157 325L1131 325L1105 325L1079 325L1053 325L1027 325L1001 325L975 325L949 325L923 325L897 325L871 325L845 325L819 325" stroke="rgba(247, 168, 184, 1)" stroke-width="4.33"></path>
                <path d="M812.5 325 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1020.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1202.5 351 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM812.5 351 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1124.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM838.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1228.5 299 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(247, 168, 184, 1)"></path>
                <path d="M1469 247L1443 247L1417 247L1391 247" stroke="rgba(255, 255, 255, 1)" stroke-width="4.33"></path>
                <path d="M1384.5 247 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(255, 255, 255, 1)"></path>
                <path d="M1313 221L1287 195M1391 221L1365 195M1339 221L1313 195M1469 221L1443 221L1417 221L1391 221L1365 221L1339 221L1313 221L1287 221" stroke="rgba(247, 168, 184, 1)" stroke-width="4.33"></path>
                <path d="M1280.5 221 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1280.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1358.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1306.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(247, 168, 184, 1)"></path>
                <path d="M1183 351L1157 377M1131 351L1105 377M1417 351L1391 377M1365 351L1339 377L1313 377M1053 351L1027 377L1001 377L975 377M1469 351L1443 351L1417 351L1391 351L1365 351L1339 351L1313 351L1287 351L1261 351L1235 377L1209 377L1183 351L1157 351L1131 351L1105 351L1079 351L1053 351L1027 351L1001 351L975 351L949 351L923 351" stroke="rgba(85, 205, 252, 1)" stroke-width="4.33"></path>
                <path d="M916.5 351 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1150.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1098.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1384.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1306.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM968.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(85, 205, 252, 1)"></path>
                <path d="M1469 195L1443 195L1417 195" stroke="rgba(85, 205, 252, 1)" stroke-width="4.33"></path>
                <path d="M1410.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(85, 205, 252, 1)"></path>
                <path d="M1417 169L1391 143L1365 143M1261 169L1235 195L1209 195M1313 169L1287 143M1469 169L1443 169L1417 169L1391 169L1365 169L1339 169L1313 169L1287 169L1261 169L1235 169L1209 169" stroke="rgba(85, 205, 252, 1)" stroke-width="4.33"></path>
                <path d="M1202.5 169 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1358.5 143 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1202.5 195 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1280.5 143 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(85, 205, 252, 1)"></path>
                <path d="M1443 403L1417 377M1391 403L1365 429L1339 429L1313 429L1287 429M1417 403L1391 429L1365 455M1469 403L1443 403L1417 403L1391 403L1365 403" stroke="rgba(85, 205, 252, 1)" stroke-width="4.33"></path>
                <path d="M1358.5 403 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1410.5 377 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1280.5 429 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1358.5 455 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(85, 205, 252, 1)"></path>
                <path d="M1261 143L1235 117M1391 117L1365 91L1339 65L1313 65L1287 65M1287 117L1261 117M1469 143L1443 143L1417 117L1391 117L1365 117L1339 117L1313 117L1287 117L1261 143L1235 143L1209 143" stroke="rgba(85, 205, 252, 1)" stroke-width="4.33"></path>
                <path d="M1202.5 143 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1228.5 117 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1280.5 65 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0zM1254.5 117 a6.5 6.5 0 1 0 13 0 a6.5 6.5 0 1 0 -13 0z" fill="rgba(85, 205, 252, 1)"></path>
            </g>
        </g>
        <defs>
            <mask id="SvgjsMask1590">
                <rect width="1440" height="560" fill="#ffffff"></rect>
            </mask>
            <mask id="SvgjsMask1591">
                <rect width="1440" height="560" fill="white"></rect>
                <path d="M971.75 221 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1283.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1153.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1075.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1023.75 247 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1179.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M815.75 325 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1023.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1205.75 351 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM815.75 351 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1127.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM841.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1231.75 299 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1387.75 247 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1283.75 221 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1283.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1361.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1309.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M919.75 351 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1153.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1101.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1387.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1309.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM971.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1413.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1205.75 169 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1361.75 143 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1205.75 195 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1283.75 143 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1361.75 403 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1413.75 377 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1283.75 429 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1361.75 455 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
                <path d="M1205.75 143 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1231.75 117 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1283.75 65 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0zM1257.75 117 a3.25 3.25 0 1 0 6.5 0 a3.25 3.25 0 1 0 -6.5 0z" fill="black"></path>
            </mask>
        </defs>
    </svg>
    <div class="menu header">
        <div class="flex-row right">
            {{#each Sections}}
            <a data-menuanchor="{{this}}" href="#{{this}}">{{this}}</a>
            {{/each}}
        </div>
    </div>
    <div id="fullpage">
        <div class="section">
            <div class="desktop-only">
                <div class="flex-column center fill-h">
                    <div class="flex-row center" style="height: 70%">
                        <img class="circular-image" style="margin-right: 2rem" src="{{Portrait}}"/>
                        <div class="flex-column center">
                            <h1 class="center-text">{{Name}}</h1>
                            <div class="spacer"></div>
                            <h2 class="center-text">{{PrimaryRole}}</h2>
                            <h2 class="center-text">{{SecondaryRole}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-only">
                <div class="flex-row center fill-w">
                    <div style="width: 90%; height: 100%;">
                        <div class="flex-column center">
                            <div class="flex-row center">
                                <img class="circular-image" style="width: 80%;" src="{{Portrait}}"/>
                            </div>
                            <div class="flex-column center">
                                <h1 class="center-text">{{Name}}</h1>
                                <div class="spacer"></div>
                                <h2 class="center-text">{{PrimaryRole}}</h2>
                                <h2 class="center-text">{{SecondaryRole}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fp-watermark" style="right: 0;">
                <a href="https://www.instagram.com/space.owlet/" rel="nofollow noopener" target="_blank" style="text-decoration:none; color: #000;">
                        Portrait by space.owlet
                </a>
            </div>
        </div>
        <div class="section">
            <div class="flex-column fill-h">
                <h1 class="center-text" style="margin-top: 3rem;">{{Sections.[1]}}</h1>
                <div class="spacer" style="transform: scale(0.3, 1.0);"></div>
                <div class="desktop-only" style="height: 100%; width: 100%;">
                    <div class="flex-column center fill-h">
                        <div class="flex-row center" style="height: 100%; margin-top: 3rem; margin-bottom: 3rem;">
                            <div class="flex-row" style="width: 80%;">
                                {{#each Games}}
                                <div class="row-image">
                                    <div class="image-preview">
                                        <div class="image-holder" style="background-image: url({{this.ImageRow}})">
                                            <div class="image-overlay flex-column bottom">
                                                <div class="faded-background">
                                                    <h4 class="center-text">{{this.Title}} | {{this.Company}}</h4>
                                                    <h4 class="center-text">{{this.Role}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-only" style="height: 100%; width: 100%;">
                    <div class="flex-column center fill-h">
                        <div class="flex-row center" style="height: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                            <div class="flex-column" style="width: 90%;">
                                {{#each Games}}
                                <div class="row-image">
                                    <div class="image-preview">
                                        <div class="image-holder" style="background-image: url({{this.ImageColumn}})">
                                            <div class="image-overlay flex-column bottom">
                                                <div class="faded-background">
                                                    <h4 class="center-text">{{this.Title}} | {{this.Company}}</h4>
                                                    <h4 class="center-text">{{this.Role}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="flex-column fill-h">
                <h1 class="center-text" style="margin-top: 3rem;">{{Sections.[2]}}</h1>
                <div class="spacer" style="transform: scale(0.3, 1.0);"></div>
                <div class="desktop-only" style="height: 100%; width: 100%;">
                    <div class="flex-column center fill-h">
                        <div class="flex-row center" style="height: 100%; margin-top: 3rem; margin-bottom: 3rem;">
                            <div class="flex-row" style="width: 90%;">
                                {{#each Hobbies}}
                                <div class="row-image">
                                    <div class="image-preview">
                                        <div class="image-holder" style="background-image: url({{this.ImageRow}})">
                                            <div class="image-overlay flex-column bottom">
                                                <div class="faded-background">
                                                    <h4 class="center-text">{{this.Title}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-only" style="height: 100%; width: 100%;">
                    <div class="flex-column center fill-h">
                        <div class="flex-row center" style="height: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                            <div class="flex-column" style="width: 90%;">
                                {{#each Hobbies}}
                                <div class="row-image">
                                    <div class="image-preview">
                                        <div class="image-holder" style="background-image: url({{this.ImageColumn}})">
                                            <div class="image-overlay flex-column bottom">
                                                <div class="faded-background">
                                                    <h4 class="center-text">{{this.Title}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="flex-column">
                <h1 class="center-text" style="margin-top: 3rem;">Contact Me!</h1>
                <div class="spacer" style="transform: scale(0.3, 1.0);"></div>
                <div class="flex-column center">
                    <div class="desktop-only">
                        <div class="flex-row center" style="height: auto;">
                            <div style="width: 50%;">
                                <div class="flex-row center">
                                    <div class="flex-column center">
                                        {{#each ContactHeaders}}
                                        <h4 class="center-text">{{this}}</h4>
                                        {{/each}}
                                        <ul>
                                            {{#each ContactNotes}}
                                            <li><p>{{this}}</p></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="flex-column center flex-column-item" style="height: auto;">
                                        {{#each ContactLinks}}
                                        <div class="flex-column flex-column-item">
                                            <a class="flex-row center" href="{{this.Link}}" target="_blank">
                                                <i class="fa-4x {{this.Icon}}"></i>
                                            </a>
                                            <h4 class="center-text flex-column-item">{{this.Title}}</h4>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-only">
                        <div class="flex-column center">
                            {{#each ContactHeaders}}
                            <h4 class="center-text">{{this}}</h4>
                            {{/each}}
                            <ul>
                                {{#each ContactNotes}}
                                <li><p>{{this}}</p></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="flex-row center flex-column-item fill-w" style="height: auto;">
                            {{#each ContactLinks}}
                            <a class="flex-row center flex-row-item" href="{{this.Link}}" target="_blank">
                                <i class="fa-4x {{this.Icon}}"></i>
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>